<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us">
<head>
   <meta charset="utf-8" />
   <title>{{ page.title }} - Grifo</title>
   <meta name="author" content="Grifo" />

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  
  <link href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:bold" rel="stylesheet" />
  <link href="styles/base.css" rel="stylesheet" />
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
</head>
<body>
  <div id="container">
      <h1>{{ page.title }}</h1>
    
      {{ content }}
    
      <a href="http://github.com/grifo/grifo-jquery-plugins"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>
  </div>
</body>
</html>
