body {
	margin-top: 1.0em;
	background-color: #212121;
	font-family: Helvetica, Arial, FreeSans, san-serif;
	color: #fcfcfc;
}
#container {
	margin: 0 auto;
	width: 700px;
}
h1, h2, h3, h4, h5 {
	font-family: 'Bangers', sans-serif;
	color: #45A4FF;
}
h1 {
	font-size: 3.8em;
	margin-bottom: 3px;
}
h1 .small {
	font-size: 0.4em;
}
h1 a {
	text-decoration: none
}
h2 {
	font-size: 2.6em;
}
h3 {
	text-align: center;
}
a {
	color: #fff;
}
.description {
	font-size: 1.2em;
	margin-bottom: 30px;
	margin-top: 30px;
	padding:15px;
}
.download {
	float: right;
}
pre {
	background: #000;
	color: #fff;
	padding: 15px;
}
hr {
	border: 0;
	width: 80%;
	border-bottom: 1px solid #aaa
}
.footer {
	text-align: center;
	padding-top: 30px;
	font-style: italic;
}
